.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  flex-shrink: 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-right: 15px;
  color: #ffffff;
  text-decoration: none;
  border-right: 2px solid #00FFA3;
}

.menu a:hover {
  text-decoration: underline;
  color: #00FFA3;
}

.menu img {
  margin-left: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .logo img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .logo img {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .logo img {
    width: 100px;
    height: auto;
  }
}
